html {
  font-family: "Nunito";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fafafa;
}

.card {
  position: relative;
  width: 12.5rem;
  height: 10.5rem;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  transition: all 1s;
  cursor: pointer;
}

.card__icon {
  font-size: 2rem;
  margin-top: 2rem;
  transition: all 0.75s;
}

.card__icon,
.card__title,
.card__parraph {
  position: relative;
  z-index: 10;
}

.card__title {
  margin-block-start: 0.25rem;
}

.card__parraph {
  padding: 0 0.25rem;
  opacity: 0;
  transition: all 0.1s;
}

.card__hover {
  height: 4rem;
  width: 4rem;
  position: absolute;
  background-color: red;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #3d5f98
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #3d5f98
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: all 1s;
}

.card__before {
  top: -10rem;
  left: -10rem;
  transition: all 1s;
}

.card__after {
  bottom: -10rem;
  right: -10rem;
  transition: all 1s;
}

.card__image {
  width: 100%;
  mix-blend-mode: multiply;
}

.card:hover .card__title {
  transition: all 1s;
}

.card:hover .card__icon {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  transition: all 1s;
}

.card:hover .card__parraph {
  opacity: 1;
  transition: all 0.1s;
}

.card:hover .card__icon,
.card:hover .card__title,
.card:hover .card__parraph {
  color: white;
  transition: all 1s;
}

.card:hover .card__before {
  height: 15rem;
  width: 15rem;
  top: 0;
  left: 0;
  transition: all 0.75s;
}

.card:hover .card__after {
  height: 15rem;
  width: 15rem;
  bottom: 0;
  right: 0;
  transition: all 1.5s;
}
