#particles-js {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
  /* background-color: #000000; */
  background: linear-gradient(#160049, #055b8a);
  overflow: hidden;
}

.meteor {
  position: absolute;
  width: 5rem;
}

.star {
  margin-left: 0;
  right: 10rem;
  bottom: 11rem;
  animation: star 5s infinite;
  opacity: 0;
}

.star2 {
  margin-left: 0;
  left: 7rem;
  top: 2rem;
  animation: star 10s infinite;
  opacity: 0;
}

.star3 {
  margin-left: 0;
  left: 2rem;
  top: 2rem;
  animation: star 5s infinite;
  opacity: 0;
}

.rocket {
  margin-left: 0;
  width: 2.5rem;
  right: 12rem;
  bottom: -10rem;
  animation: rocket 7s infinite;
  transform: rotate(145deg);
}

.moon {
  position: absolute;
  width: 22rem;
  right: -11rem;
  bottom: 1.5rem;
  animation: moon 5s infinite;
  animation-direction: alternate-reverse;
}

.planet {
  left: 2rem;
  width: 5rem;
  bottom: 20rem;
  animation: moon 10s infinite;
  animation-direction: alternate-reverse;
}

.none {
  display: none;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes star {
  0% {
    transform: translate(20rem, -20rem);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rocket {
  0% {
    transform: translate(-20rem, -40rem);
  }
  100% {
  }
}

@keyframes moon {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 2.5rem);
  }
}
